a {
  cursor: pointer;
}

.appBar {
  -webkit-app-region: drag;

  span {
    -webkit-app-region: no-drag;
    user-select: none;
    -webkit-user-select: none;
    font-size: .75rem;

    svg {
      width: .75rem;
      height: .75rem;
    }
  }
}