a {
  cursor: pointer;
}

.appBar {
  -webkit-app-region: drag;

  span {
    -webkit-app-region: no-drag;
    user-select: none;
    -webkit-user-select: none;
    font-size: .75rem;

    svg {
      width: .75rem;
      height: .75rem;
    }
  }
}

.updateAvailable {
  @apply bg-transparent text-gray-500;
  animation: pulsing 2.5s ease infinite alternate;
}

@keyframes pulsing {
  from {
    @apply bg-transparent text-gray-500;
  }

  to {
    @apply bg-green-500 text-white;
  }
}